.container {
    max-width: 1680px;
    padding: 0 5%;
    margin: auto;
}

.screenSize {
    max-width: 1680px;
    margin: auto;
}

@media (min-width:1200px) {
    .container {
        padding: 0 10%;
    }
}

@media (min-width:1600px) {
    .container {
        padding: 0 5%;
    }
}
