.testimonial {
  margin-bottom: 4rem;

  &-text {
    text-align: center;
    color: var(--gray);
    font-size: 17px;
  }

  &-heading {
    text-align: center;
    color: var(--black);
    font-size: 30px;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
    line-height: 72px;
  }

  &-items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // gap: 1rem;

    &-content {
      position: relative;
      justify-content: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      background-color: white;

      &-img {
        // width: 20rem;
        position: relative;
      }

      &-bg {
        // width: 100%;
      }

      &-info {
        position: absolute;
        left: 63px;
        top: 56px;
        // height: 12rem;
        border-radius: 50%;
      }

      &-subimgs {
        position: absolute;

        &-man-bg,
        &-man-img,
        &-girl-bg,
        &-girl-img,
        &-boy-bg,
        &-boy-img,
        &-lady-bg,
        &-lady-img {
          position: absolute;
          display: none;
        }
      }
    }

    &-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      &-heading {
        color: var(--dark);
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
      }

      &-para {
        color: var(--gray);
        font-size: 16px;
      }

      &-star {
        width: 20px;
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-bottom: 1rem;
      }

      &-sub-para {
        color: #30405b;
        font-size: 18px;
        line-height: 27px;
        width: 90%;
        text-align: center;
      }

      &-left-arrow {
        position: absolute;
        left: 50px;
        bottom: -20px;
        display: flex; 
        align-items: center; 
        text-decoration: none;

       

        hr {
         width: 2.5rem; 
         height: 3px; 
         background-color: #08337B; 
         border: 1px solid #08337B;
        }

        &-info {
          display: flex; 
           align-items: center; 
           padding-left: 12px;
           height: 2.5rem;
          width: 2.5rem;

           &-para {
            font-size: 40px; 
            margin-right: -18px; 
            margin-top: 1px; 
            z-index: 1;
    color: #08337B;

            
           }

           hr {
            width: 2rem; 
            height: 3px;
            background-color: #08337B; 
            border: 1px solid #08337B
           }
        }

        &:hover {
          color: #fff;

           &-info{
            background-color: #08337B;
            border-radius: 50%;
           }
      
           hr {
            background-color: #fff;
            color: #fff;
            border: 1px solid #fff ;
           }
        }
      }

      &-right-arrow {
        position: absolute;
        right: 50px;
        bottom: -20px;
      }
    }
  }
}


.arrowDiv {
  
  height: 2.5rem;
  width: 2.5rem;

  hr {
    background-color: #08337B; 
    border: 1px solid #08337B
   }

  p{
    color: #08337B;
  }
  

  &:hover {
    background-color: #08337B;
    border-radius: 50%;
     p{
      color: #fff;
     }

     hr {
      background-color: #fff;
      color: #fff;
      border: 1px solid #fff ;
     }
  }
}


@media (min-width: 768px) {
  .testimonial {
    &-heading {
      font-size: 40px;
    }

    &-items {
      &-left-arrow {
        left: 200px;
      }

      &-right-arrow {
        right: 200px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .testimonial {
    overflow: hidden;

    &-items {
      &-content {
        &-bg {
          width: 25rem;
          height: 25rem;
        }

        &-img {
          // width: 22rem;
        }

        &-info {
          width: 15rem;
          height: 15rem;
          left: 81px;
          top: 75px;
        }

        &-subimgs {
          top: 10%;
          right: 133%;

          &-man-bg {
            display: block;
            top: -10px;
            left: -150px;
          }

          &-man-img {
            display: block;
            top: 0;
            left: -150px;
            z-index: 1;
          }

          &-girl-bg {
            display: block;
            top: 112px;
            left: -50px;
          }

          &-girl-img {
            display: block;
            top: 120px;
            left: -105px;
            z-index: 1;
          }

          &-boy-bg {
            display: block;
            top: -14px;
            left: 566px;
          }

          &-boy-img {
            display: block;
            top: 15px;
            left: 630px;
            z-index: 1;
          }

          &-lady-bg {
            display: block;
            top: 145px;
            left: 611px;
          }

          &-lady-img {
            display: block;
            top: 135px;
            left: 565px;
            z-index: 1;
          }
        }
      }

      &-data {
        &-sub-para {
          width: 66%;
        }

        &-left-arrow {
          left: 50px;
          bottom: 120px;
        }

        &-left-arrow-move {
          left: 31px;
          bottom: 110px;
        }

        &-right-arrow {
          right: 50px;
          bottom: 120px;
        }

        &-right-arrow-move {
          right: 31px;
          bottom: 111px;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .testimonial {
    &-items {
      &-data {
        &-sub-para {
          width: 41%;
        }

        &-left-arrow {
          left: 300px;
          bottom: 120px;
        }

        &-left-arrow-move {
          left: 281px;
          bottom: 110px;
        }

        &-right-arrow {
          right: 300px;
          bottom: 120px;
        }

        &-right-arrow-move {
          right: 281px;
          bottom: 111px;
        }
      }
    }
  }
}
